body{
    margin: 0;
    background-color: #f1f1f1;
}

/* ヘッダーメニュー */
nav{
    text-align: center;
}

nav li:not(:last-child){
    border-right: 2px solid #ddd;
}

.header_menu{
    list-style: none;
    display: inline-block;
}

.header_menu li{
    display: inline-block;
    min-width: 180px;
}

.header_menu li a{
    text-decoration: none;
    color: #808080;
}

.header_menu li a:hover{
    color: #fff;
    transition: 200ms ;
}

/* ヘッダータイトル */
.header_title_img{
    background: url('./images/header_img.JPG') center/cover;
    position: relative;
	height: 50vh;
}

.header_title{
    position: absolute;
	z-index: 1;
	top: 50%;
	width: 100%;
    color: #fff;
    text-align: center;
    font-size: 2rem;
}

/* ページ部分 */
.whole_wrapper{
    width: 90%;
    margin: 0 auto;
}

.page_title{
  text-align: center;
  margin: 40px auto;
}

.content{
    display: flex;
    margin: 40px auto;
}

.img_space{
    border: 1px solid #000;
    width: 600px;
    height: 400px;
}

p{
    line-height: 2rem;
    margin: 0;
    font-size: 18px;
}

.img_left,.text_left{
    margin-right: 8px;
}

.img_right,.text_right{
    margin-left: 8px;
    order: 1;
}

/* Tripページのトップテキスト */
.trip_top_text{
    text-align: center;
    margin-bottom: 60px;
}

/* スマホ&タブレット */
@media screen and (max-width: 559px){
    nav{
            position: fixed;
            top: 20vh;
              right:0;
              z-index:1;
              text-align: left;
    }

    nav li:not(:last-child) {
        border-right: none;
    }

    nav li a{
        -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  /* 以下、装飾 */
	padding:20px 10px;
  color:#9F886E;
    background-color: #ddd;
    opacity: 0.7;
    }

    .header_menu{
        padding: 0;
    }

    .header_menu li {
        min-width: 240px;
    }

    .content{
        display: block;
    }

    .text_space{
        margin-top: 16px;
    }

    .img_space{
        width: 100%;
    }

    .img_left, .text_left {
        margin-right: 0;
    }

    .img_right, .text_right {
        margin-left: 0;
    }

    br{
        display: none;
    }

    .trip_top_text{
        text-align: left;
    }
}

@media screen and (max-width: 959px) {
    .content{
        display: block;
    }

    .text_space{
        margin-top: 16px;
    }

    .img_space{
        width: 100%;
    }

    .img_left, .text_left {
        margin-right: 0;
    }

    .img_right, .text_right {
        margin-left: 0;
    }

    br{
        display: none;
    }

    .trip_top_text{
        text-align: left;
    }
}

