body{
    margin: 0;
    background-color: #f1f1f1;
}

/* ヘッダーメニュー */
nav{
    text-align: right;
}

.header_menu{
    list-style: none;
    padding: 0 0 10px 0;
    display: inline-block;
    border-bottom: 1px solid #808080;
}

.header_menu li{
    display: inline-block;
    margin: 0 15px;
}

.header_menu li a{
    text-decoration: none;
    color: #808080;
}

.header_menu li a:hover{
    color: #fff;
    transition: 200ms ;
}

/* ヘッダータイトル */
.header_title_img{
    background: url('./images/header_img.JPG') center/cover;
    position: relative;
	height: 50vh;
}

.header_title{
    position: absolute;
	z-index: 1;
	top: 50%;
	width: 100%;
    color: #fff;
    text-align: center;
    font-size: 2rem;
}

/* ページ部分 */
.whole_wrapper{
    width: 90%;
    margin: 0 auto;
}

.page_title{
  text-align: center;
  margin: 40px auto;
}

.content{
    display: flex;
    margin: 40px auto;
}

.img_space{
    border: 1px solid #000;
    width: 600px;
    height: 400px;
}

p{
    line-height: 2rem;
    margin: 0;
    font-size: 18px;
}

.img_left,.text_left{
    margin-right: 8px;
}

.img_right,.text_right{
    margin-left: 8px;
}
